html {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    overflow: hidden;
    font-family: Inter, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
    color: #202020;
}

p {
  color: #202020;
    /* color: #1c2b2c between black and green harmony */
  font-family: Inter, BlinkMacSystemFont, Helvetica, Arial, sans-serif !important;
}

h1 {
  color: #333;

  font-family: Inter, BlinkMacSystemFont, Helvetica, Arial, sans-serif !important;
}

h2 {
  color: #333;

  font-family: Inter, BlinkMacSystemFont, Helvetica, Arial, sans-serif !important;
}

h3 {
  color: #333;

  font-family: Inter, BlinkMacSystemFont, Helvetica, Arial, sans-serif !important;
}

button {
  font-family: Inter, BlinkMacSystemFont, Helvetica, Arial, sans-serif !important;
}

body {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    overflow: hidden;
}

#root {
  overflow: hidden;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #efeff2;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 10px;
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  border-radius: 4.5px;
  /* background-color: #6d7085; */
  background-color: rgba(100, 100, 100, 0.4);
}

.MuiDataGrid-root.MuiDataGrid-autoHeight {
  border: none;
  border-radius: 0;
}

.MuiDataGrid-columnHeader {
    border: none;
    border-bottom: none !important;
    height: 45px;
    color: #79797d !important;
    font-size: 13px;
    line-height: normal;
    letter-spacing: normal;
    text-transform: uppercase;
    background: #efeff2 !important;
    font-weight: bold !important;
    font-family: sans-serif !important;
}


.header-center .MuiDataGrid-columnHeaderTitleContainer {
  justify-content: center !important;
}

.MuiDataGrid-root {
  border-radius: 0 !important;
  border: none !important;
}

.MuiDataGrid-columnHeaders {
  border: none;
  border-radius: 0;
}

.MuiDataGrid-columnHeaderTitle {
  font-weight: bold !important;
  font-family: sans-serif !important;
}

.MuiDataGrid-row {
  border-radius: 0;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid #e0e0e0 !important;
}

.MuiDataGrid-columnSeparator {
  display: none !important;
}

input[type="color"] {
  -webkit-appearance: none;
  border: none;
  /* width: 32px;
  height: 32px; */
  border-radius: 50%;
  overflow: hidden;
  padding: 0;
  background: none;
  cursor: pointer;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}
